
.Body {
    margin:0px; /*This value goes for default */
}

.Body h1, h2,h3{
    font-family: 'Montserrat', sans-serif;
    color:#f4f4f4;
}

.Body p,li,a{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color:#f4f4f4;
}

h1{
    font-size: 60px;
    color:#f4f4f4;
}

header {
    height: 125px;
    width: auto;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #125784; /* Using a Strong purple*/
}

header > div{
    width: auto;
    height: 100px;
    flex-grow: 1;  /*Putting the navigation menu on the right side*/
}

header >div> a > img{
    width: auto;
    height: 100%;
}

header > nav > menu{
    display: flex;
    list-style: none; /*Removing the dots of the navigation menu*/
    text-decoration: none;
}

header > nav > menu > li {
    padding: 0px 10px;  /*Setting the padding of the navigation menu*/
}

header>div+nav+div{

    text-align: left;
}

li {
    border-right: 1px solid #ffffff;
}
li:last-child {
    border-right: none
}

.section1 {
    width: 100%;
    height: 150vh;
    background-image: url("../img/img1.jpg");
    background-size: cover;
}

.section1 >div{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 {
    display:grid;
    grid-template-columns: 75% 25%;
    background-color:#f57f17;
    color:#f4f4f4;
    height:400px;

}

.section2 > div:nth-child(1){

    margin-left: 10px;
}
.section3 {
    display:grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
}

.section4{
    background-color:#5e35b1;

}

form{
    justify-content: center;
    margin-left: 600px;
}

form{
    display:grid;
    grid-template-columns: 1fr; /* One column */

}

form p{
    align-items: center;
    justify-content: center;
}

form >p:nth-child(1)>input{
    width: 390px;
}

form >p:nth-child(2)>input{
    width: 390px;
}

form >p:nth-child(3)>input{
    width: 390px;
}

form >p:nth-child(8)>input{
    width: 390px;
}

footer{
    background-color:#0e0e0e;
    color:#f4f4f4;
    display: flex;    /*Setting  the footer*/
    align-items: center;
}


footer div{
    padding: 5px; /*Setting  the div inside the footer */
}

footer div:nth-child(1),
footer div:nth-child(2){
    height: 150px;   /*Setting  the height of the footer*/
    width: auto;
}


footer > div:nth-child(1) a > img{
    width: auto;
    height: 150px;
}

@media screen and (max-width: 460px){
    header{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }
    header>div+nav+div{
        display:none;
    }

    footer{
        display: grid;
        grid-template-columns: 100%;
        text-align: center;
    }

    h1{
        font-size: 20px;
    }

    .section2 {
        display: grid;
        grid-template-columns: 100%;
    }

    .section2 >div>img{
        width: 100%;
        height: 100vh;
    }

    .section3 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .section3 >div:nth-child(1)>img,
    .section3 >div:nth-child(2)>img
    {
        width: 100%;
        height: 100vh;
    }

    form{
        justify-content: center;
        margin-left: 10px;
    }
}